<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="DirectoryPath" value="E:\Backups\" />
    <add key="SessionWarning" value="1" />
    <add key="Instance" value="XAAS_Multi_PILOT" />
    <add key="ClientID" value="UCP8U2C3P69U8C2P3" />
    <add key="ClientSecret" value="864A936A35324151E1C79C44A2E903FF2497F52FA892282D340585F493C637F0" />
    <add key="CreateSettlementPaymentURL" value="http://159.8.29.24:9888/api/v1/cwg/create-product-beneficiary" />
    <add key="UpdateSettlementPaymentURL" value="http://159.8.29.24:9888/api/v1/cwg/update-product-beneficiary" />
    <add key="GetAccountNameURL" value="http://159.8.29.24:9888/api/v1/cwg/verify-account" />
    <add key="CreateSettlementClientID" value="SssC_0EnmMXQesq0gNb9vpy044jlZr1K3JbwD" />
    <add key="CreateSettlementClientSecret" value="SssK_E3WXHNspt68B8dwHBjQO6BF0v6xRJeSe" />
    <add key="GetBankLists" value="http://159.8.29.24:9888/api/v1/cwg/bank" />
    <add key="Return_Url" value="https://solutions.cooplatform.com.ng/FinEdge_UCP/Admin/Receipt.aspx" />
    <add key="Return_Url2" value="https://solutions.cooplatform.com.ng/FinEdge_UCP/Admin/Receipt2.aspx" />
    <add key="Return_Url3" value="https://solutions.cooplatform.com.ng/FinEdge_UCP/Admin/Receipt3.aspx" />
    <add key="SettlementPaymentURL" value="http://159.8.29.24:9888/api/v1/cwg/settlement" />
    <add key="ReportTimeout" value="0" />
    <add key="ImagePath" value="http://localhost/Prime/Images/banklogo.gif" />
    <add key="DBConnection" value="server=169.51.32.115;uid=UCP_AppUser;pwd=UCP@2019##;database=XAAS_Multi_PILOT;Connect Timeout=800; pooling='true'; Max Pool Size=200" />
  </appSettings>
  <connectionStrings>
    <add name="Prime" connectionString="Data Source=localhost;Initial Catalog=XAAS_Multi_PILOT;connect timeout=900000;User ID=sa;password=infosight!12;" providerName="System.Data.SqlClient" />
   
  </connectionStrings>
  <!--<system.net>
    -->
  <!--This is the Default mail settings for the application.-->
  <!--
    <mailSettings>
      -->
  <!--Set the From = "Email address of the Portal admin"-->
  <!--
      <smtp from="realitytaiwo@yahoo.com">
        -->
  <!--Specify the email host settings here and the password and username to access the email host-->
  <!--
        <network host="172.19.2.91" userName="softwareunit@valucardnigeria.com"/>
      </smtp>
    </mailSettings>
  </system.net>-->
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
 
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="script.js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="style.ie6.css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="style.ie7.css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="style.css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="main.css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="css/boilerplate.css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="css/layout.css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="css/page.css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="css/css/font-awesome.min.css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Scripts/respond.min.js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PrimeApp.master">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <!--<authorization>
      <allow roles="Administrator" />
    </authorization>-->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    
    <authentication mode="Forms">
      <forms defaultUrl="~/Admin/CreateGL.aspx" loginUrl="Default.aspx" name="Authorization Page" timeout="15" slidingExpiration="false" />
    </authentication>
    
    <sessionState cookieName="ASP.NET_SessionId" mode="InProc" regenerateExpiredSessionId="false" sqlCommandTimeout="30" stateNetworkTimeout="10" timeout="20">
      <providers>
        <clear />
      </providers>
    </sessionState>

    <anonymousIdentification cookieless="AutoDetect" enabled="true" />
    <profile enabled="true" defaultProvider="SqlProvider">
      <providers>
        <add name="SqlProvider" connectionStringName="Prime" applicationName="Prime" type="System.Web.Profile.SqlProfileProvider" />
      </providers>
      <properties>
        <add name="parentid" allowAnonymous="true" type="Integer" />
        <add name="RevTranTyp" allowAnonymous="true" />
        <add name="RevAcctNo" allowAnonymous="true" />
        <add name="RevTranAmt" allowAnonymous="true" />
        <add name="RevTeller" allowAnonymous="true" />
        <add name="RevTranDt" allowAnonymous="true" />
        <add name="RevMod" allowAnonymous="true" />
        <add name="overide" allowAnonymous="true" />
        <add name="overideid" allowAnonymous="true" />
        <add name="CustAcct" allowAnonymous="true" />
        <add name="keep" allowAnonymous="true" />
        <add name="Acct" allowAnonymous="true" />
        <add name="repaytype" allowAnonymous="true" />
        <add name="Cnt" allowAnonymous="true" type="integer" />
        <add name="Cnt1" allowAnonymous="true" type="integer" />
        <add name="Cnt2" allowAnonymous="true" type="integer" />
        <add name="Cnt3" allowAnonymous="true" type="integer" />
        <add name="Cnt4" allowAnonymous="true" type="integer" />
        <add name="Cnt5" allowAnonymous="true" type="integer" />
        <add name="Cnt6" allowAnonymous="true" type="integer" />
        <add name="Cnt7" allowAnonymous="true" type="integer" />
        <add name="Cnt8" allowAnonymous="true" type="integer" />
        <add name="Cnt9" allowAnonymous="true" />
        <add name="Cnt10" allowAnonymous="true" type="integer" />
        <add name="pointingflag" allowAnonymous="true" type="integer" />
        <add name="Password" allowAnonymous="true" />
        <add name="Authori" allowAnonymous="true" type="integer" />
        <add name="status" allowAnonymous="true" />
        <add name="Computername" allowAnonymous="true" />
        <add name="acctype" allowAnonymous="true" />
        <add name="Modle" allowAnonymous="true" />
        <add name="BranchCode" allowAnonymous="true" />
        <add name="RolePicked" allowAnonymous="true" />
        <add name="sysphase" allowAnonymous="true" />
        <add name="Custchg1" allowAnonymous="true" />
        <add name="Custchg2" allowAnonymous="true" />
        <add name="AuthRemote" allowAnonymous="true" />
        <add name="AuthLocal" allowAnonymous="true" />
        <add name="branchPick" allowAnonymous="true" />
        <add name="AppStatus" allowAnonymous="true" />
        <add name="searchid" allowAnonymous="true" />
        <add name="PWDCHG" allowAnonymous="true" />
        <add name="Userid" allowAnonymous="true" />
        <add name="initUserid" allowAnonymous="true" />
        <add name="sysdate" allowAnonymous="true" />
        <add name="fullname" allowAnonymous="true" />
        <add name="seq" allowAnonymous="true" />
        <add name="Roleid" allowAnonymous="true" />
        <add name="limitval" allowAnonymous="true" />
        <add name="RtChekTyp" allowAnonymous="true" />
        <add name="RtAcctNo" allowAnonymous="true" />
        <add name="RtChekAmt" allowAnonymous="true" />
        <add name="RtTranDt" allowAnonymous="true" />
        <add name="CustomerNO" allowAnonymous="true" />
        <add name="acctNoRes" allowAnonymous="true" />
        <add name="Mis" allowAnonymous="true" />
        <add name="dt1" allowAnonymous="true" />
        <add name="dt2" allowAnonymous="true" />
        <add name="custid" allowAnonymous="true" />
        <add name="accttype" allowAnonymous="true" />
        <add name="loanprod" allowAnonymous="true" />
        <add name="TDprod" allowAnonymous="true" />
        <add name="loanacct" allowAnonymous="true" />
        <add name="TDacct" allowAnonymous="true" />
        <add name="intrepay" allowAnonymous="true" />
        <add name="UserStatus" allowAnonymous="true" />
        <add name="pointingRes" allowAnonymous="true" />
        <add name="pointingResmsg" allowAnonymous="true" />
        <add name="pointbal" allowAnonymous="true" />
        <add name="paycode" allowAnonymous="true" />
        <add name="UserStatusname" allowAnonymous="true" />
        <add name="menuid" allowAnonymous="true" type="integer" />
        <add name="idcnt" allowAnonymous="true" type="integer" />
        <add name="idcnt2" allowAnonymous="true" type="integer" />
        <add name="acctnewno" allowAnonymous="true" />
        <add name="colltype" allowAnonymous="true" />
        <add name="pointing" allowAnonymous="true" />
        <add name="pointing2" allowAnonymous="true" />
        <add name="paytype" allowAnonymous="true" />
        <add name="paytype2" allowAnonymous="true" />
        <add name="reportto" allowAnonymous="true" />
        <add name="tablename" allowAnonymous="true" />
        <add name="statusRep" allowAnonymous="true" type="integer" />
        <add name="calmethod" allowAnonymous="true" type="integer" />
        <add name="chkno" allowAnonymous="true" type="integer" />
        <add name="CID" allowAnonymous="true" />
        <add name="CName" allowAnonymous="true" />
        <add name="fromdate" allowAnonymous="true" />
        <add name="todate" allowAnonymous="true" />
        <add name="menu" allowAnonymous="true" />
        <add name="levelID" allowAnonymous="true" />
        <add name="Custtype" allowAnonymous="true" />
        <add name="cdatecanc" allowAnonymous="true" />
        <add name="batchno" allowAnonymous="true" />
        <add name="acctreset" allowAnonymous="true" />
        <add name="term" allowAnonymous="true" />
        <add name="authuserid" allowAnonymous="true" />
        <add name="ipaddress" allowAnonymous="true" />
        <add name="loginstate" allowAnonymous="true" />
        <add name="trantype" allowAnonymous="true" />
        <add name="vaultid" allowAnonymous="true" />
        <add name="MacAddress" allowAnonymous="true" />
        <add name="valid" allowAnonymous="true" />
        <add name="EventLogID" allowAnonymous="true" type="integer" />
        <add name="node_ID" allowAnonymous="true" type="integer" />
        <add name="WEBEODEventID" allowAnonymous="true" type="integer" />
        <add name="node_ID_Picked" allowAnonymous="true" type="integer" />
      </properties>
    </profile>
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" verb="*" type="Telerik.Web.UI.SpellCheckHandler" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" verb="*" type="Telerik.Web.UI.RadUploadProgressHandler" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource" validate="false" />
      <add path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </httpModules>
    <httpRuntime enableVersionHeader="false" />
    <customErrors mode="Off" defaultRedirect="~/500.aspx">
      <error statusCode="403" redirect="~/perror3.aspx" />
      <error statusCode="404" redirect="~/PageExpired2.aspx" />
      <error statusCode="500" redirect="~/500.aspx" />
    </customErrors>
<httpCookies httpOnlyCookies="true" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableViewStateMac="true" viewStateEncryptionMode="Always">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
        <!--<add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext" />-->
        <add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext" />
      </controls>
      <namespaces>
        <!--<add namespace="Ext.Net"/>-->
        <!--<add namespace="Ext.Net.MVC"/>-->
        <add namespace="Ext.Net" />
        <!--<add namespace="Ext.Net.MVC"/>-->
      </namespaces>
    </pages>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en-GB" />
  </system.web>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="c:/XAASLogs/PrimeLogs2/XAAS_Web_%date{yyyyMMdd}.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-2p %c [%x] - %m%n" />
      </layout>
    </appender>
    <!--<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{ABSOLUTE} [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>-->
    <appender name="FileAppenders" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="c:\XAASLogs\PrimeLogs\log %date{dd MMM yyyy}.xml" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="FileAppenders" />
      <!--<appender-ref ref="ConsoleAppender"/>-->
    </root>
  </log4net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
 <!--<rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://solutions.cooplatform.com.ng/FinEdge_UCP" />
        </rule>
      </rules>
    </rewrite>-->
	<httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <extnet theme="Gray" licenseKey="** Ext.NET LICENSE KEY HERE **" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ext.Net.Utilities" publicKeyToken="2c34ac34702a3c23" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.21941" newVersion="1.1.0.21941" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Transformer.NET" publicKeyToken="e274d618e7c603a7" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0" newVersion="2.1.1" />
      </dependentAssembly>
      <!--MVC 3-->
      <!--
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="3.0.0.0-3.0.0.1" newVersion="3.0.0.1" />
      </dependentAssembly>
      -->
      <!--MVC 4-->
      <!--
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      -->
      <!--MVC 5-->
      <!--
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      -->
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
     
      <smtp from="no-reply@cooplatform.com.ng">
        <!--<network defaultCredentials="false" host="mail.gmail.com" password="419isbad" userName="naira4law@gmail.com" />-->
        <network defaultCredentials="false" host="smtp.office365.com" port="587" password="Tuy91560" userName="no-reply@cooplatform.com.ng" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>